<div class="sidenav">
  <ng-container *ngFor="let route of exampleObject">
    <a
      [attr.data-clientsideroute]="route.clientroute"
      (click)="newFunction($event,route)">{{route.label}}
    </a>  
  </ng-container>

  <div>
    <button class="addNotif" (click)="addNotificationFromNav()">
      add Notification
    </button>


    
    <button class="deleteNotif" style="margin-top: 20px;" (click)="deleteNotificationFromNav()">
      delete Notification
    </button>

    <input type="number" style="width: 114px;" [(ngModel)]="this.payLoad.id">
    
  </div>
</div>
