.sidenav {
    width: 130px;
    height: 450px;
    position: relative;
    z-index: 1;
    background: #333;
    overflow-x: hidden;
    padding: 8px 0;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: block;
  }
  
  .sidenav a:hover {
    background-color: #000;
    cursor: pointer;
  }